/* Common CSS Start  */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
/* Common CSS End  */
/* Header Part Start  */
.navbar {
  background-color: #1e1e1e;
}
.nav-link {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 3%;
  color: #959595;
  padding: 9.5px 20px !important;
  transition: 0.4s;
}
.nav-link:hover {
  color: #fd6f00;
}
.headerBtn {
  background: linear-gradient(to bottom right, #fd6f00, #e46400);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px 40px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 3%;
  outline: 0;
  transition: ease 0.4s;
}
.headerBtn:hover {
  background: transparent;
  box-shadow: 0 0 0 2px #e46400;
}
/* Header Part End  */
